[build-system]
requires = ["uv_build>=0.8.4,<0.9.0"]
build-backend = "uv_build"

[project]
name = "{{ slug }}"
version = "0.1.0"
description = "{{ description }}"
authors = [
    {name = "{{ user }}", email = "{{ email }}"},
]
dependencies = [
    {% if app %}"click>=8.1"{% endif %}
]
requires-python = ">=3.10,<3.14"
readme = "README.md"
license = { text = "MIT" }

[project.scripts]
{{slug}} = "{{snake}}.__main__:main"

[dependency-groups]
dev = [
    "ruff>=0.8.0",
    "mypy>=1.15.0",
    "pre-commit>=4.0.0",
]
test = [
    "pytest>=8.1.1",
    "pytest-cov>=5.0.0",
]
docs = [
    "mkdocs>=1.5.3",
    "mike>=2.0.0",
    "mkdocs-material>=9.5.18",
    "mkdocstrings[python]>=0.24.3",
    "mkdocs-same-dir>=0.1.3",
    {% if app %}"mkdocs-click>=0.8.1",{% endif %}
]

[tool.git-changelog]
convention = "conventional"
provider = "github"
output = "CHANGELOG.md"

[tool.commitizen]
version_provider="pep621"
update_changelog_on_bump=false

[tool.ruff]
line-length = 120
indent-width = 4
target-version = "py310"

[tool.ruff.lint]
# enable all linter rules
select = ["ALL"]
ignore = [
    "D104",     # missing docstring in public package
    "D203",     # no blank line before class docstring
    "D212",     # multi line summary on the first line of a docstring
    "G004",     # f-string in logging
]

[tool.ruff.lint.mccabe]
max-complexity = 10

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.isort]
# especially when writing unit tests the UuT will be imported as package making
# it a third party package.
# To avoid this behaviour add the package as known first party...
known-first-party = [
    "{{snake}}"
]

# modules from the tests package (mocks etc.) should always be separated from
# everything else.
forced-separate = [
    "tests"
]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"

[tool.mypy]
python_version = "3.10"
check_untyped_defs = true

[tool.poe]
executor = simple

[tool.poe.tasks.setup]
help = "Setup the development environment"
sequence = [
    { cmd = "uv sync --frozen" },
    { cmd = "uv run pre-commit install" },
]

[tool.poe.tasks.lint]
help = "Run code linters"
ignore_fail = "return_non_zero"
sequence = [
    { cmd = "uv run --frozen ruff check src" },
    { cmd = "uv run --frozen ruff format src --check" },
    { cmd = "uv run --frozen mypy src" },
]

[tool.poe.tasks.format]
help = "Run code formatters"
sequence = [
    { cmd = "uv run --frozen ruff format src" },
    { cmd = "uv run --frozen ruff check src --select I --fix" },
]

[tool.poe.tasks.bump]
help = "Bump version"
cmd = "uv run --frozen scripts/bump.py"

[tool.poe.tasks.docs]
help = "Run mkdocs live preview server."
cmd = "uv run --frozen --group docs mkdocs serve --open"
