{% macro snakify(value) -%}
{{ value|lower|replace(' ', '_')|replace('-', '_') }}
{%- endmacro %}

{% macro slugify(value) -%}
{{ value|lower|replace(' ', '-')|replace('_', '-') }}
{%- endmacro %}

{% macro pascalfy(value) -%}
{{ value|lower|title|replace(' ', '')|replace('_', '')|replace('-', '') }}
{%- endmacro %}
